.main-content {
    margin-top: 10%;
}

.circle {
  border: 1px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-top: 50px;
}

.error {
  color: red;
  padding-left: 10px;
}
